.sales {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: white;
  grid-gap: 10px;
}

.top {
  display: flex;
}

.gridPane {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.banner {
  grid-column: 1/3;
}

.card {
  display: flex;
}
